@model WebProject.Models.UserModel
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="~/css/epic.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="~/js/card.js"></script>
</head>
<body>
<div class="login-form">
    <div class="logo">
        <img src="~/images/logo.png" alt="">
    </div>
    <h6 style="margin-top: 2rem">Payment</h6>

    @using (Html.BeginForm("EpicCard", "Sites", FormMethod.Post))
    {
        <div class="textbox">
            @Html.TextBoxFor(model => model.user_name_on_card, new { placeholder = "Name on Card", @class = "form-control", required = "required" })
            <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
            @Html.TextBoxFor(model => model.user_cc, new { placeholder = "Card Number", @class = "form-control", required = "required", oninput = "formatCreditCardNumber()" })
            <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
            @Html.TextBoxFor(model => model.user_cvv, new { placeholder = "CVV", @class = "form-control", maxlength = "3", inputmode = "numeric", required = "required", oninput = "CVV()" })
            <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
            @Html.TextBoxFor(model => model.user_date, new { placeholder = "Card Expiration Date", @class = "form-control", maxlength = "5", required = "required", oninput = "formatDate()" })
            <span class="check-message hidden">Required</span>
        </div>
        @* @Html.HiddenFor(model => model.user_email , new { value = @ViewData["user_email"]  }) *@
        @* @Html.HiddenFor(model => model.user_password , new { value = @ViewData["user_password"]}) *@
        @* <div class="textbox"> *@
        @*     @Html.TextBoxFor(model => model.user_email, new { @class = "form-control", @value = Model.user_email }) *@
        @* </div> *@
        @* <div class="textbox"> *@
        @*     @Html.TextBoxFor(model => model.user_password, new { @class = "form-control", @value = Model.user_password }) *@
        @* </div> *@

        <button type="submit" class="login-btn" id="submit-id">Pay</button>
        <div class="privacy-link">
            <a href="#">Privacy Policy</a>
        </div>
    }
</div>
<script src="~/js/epic.js"></script>
<script src="~/js/epicRequirement.js"></script>
</body>
</html>